/* Fonts */
@font-face {
    font-family: crimson-reg;
    src: url('fonts/CrimsonText-Regular.ttf');
}

@font-face {
    font-family: crimson-ita;
    src: url('fonts/CrimsonText-Italic.ttf');
}

@font-face {
    font-family: qua-reg;
    src: url('fonts/QuattrocentoSans-Regular.ttf');
}

@font-face {
    font-family: qua-bold;
    src: url('fonts/QuattrocentoSans-Bold.ttf');
}

h1 {
    font-size: 2.3rem;
    font-weight: 400;
    font-family: crimson-reg;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: crimson-reg;
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 135%;
    font-family: qua-reg;
}

.hvid_tekst {
    color: white;
}

.blaa_tekst {
    color: #172E4D;
}


/* Body */
body {
    background-color: #EDE8DA;
}

/*----------------------------------- FORSIDE ----------------------------------- */

/* Navigationsbaren */
nav {
    background-color: #E4DECD;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 75px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #172E4D;
    font-family: qua-reg;
}

nav a:hover {
    text-decoration: underline;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #E4DECD;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

.logo {
    height: 75%;
    width: auto;
}

/* Video */

.video {
    width: 100%;
    height: auto;
}


.videotext_wrapper {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.videotext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.videotext1{
    color: white;
    font-family: crimson-reg;
    font-size: 3rem;
    text-align: center;
}

.videotext2{
    color: white;
    font-family: crimson-reg;
    font-size: 1.5rem;
    text-align: center;
}

/* Velkommen til på forsiden */

.knap {
    width: 150px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #62758A;
    color: white;
    --mask: radial-gradient(12px at 12px 12px,#0000 98%,#000) -12px -12px;
    -webkit-mask: var(--mask);
            mask: var(--mask);
    margin-top: 64px;
}

/* Velkomst sektion + Natur sektion på forsiden */

.velkommen_wrapper, .natur_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 96px;
    gap: 96px;
}

.linje {
    width: 100%;
    height: auto;
    padding-top: 24px;
    padding-bottom: 56px;
}

.kalender_wrapper .linje {
    width: 50%;
}

/* Åbningstider */

.aabning_wrapper {
    position: relative;
    text-align: center;
    color: white;
    background-image: url(img/aabningstider.svg);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aabning_text p {
    color: white;
    font-family: crimson-reg;
}

.bold {
    font-family: qua-bold;
}

/* Kalender sektion på forsiden */

.kalender_wrapper {
    position: relative;
    text-align: center;
    color: white;
    background-image: url(img/kalenderen.svg);
    height: 750px;
    padding: 96px;
}

.kalender_wrapper_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 96px;
}

.kalender_wrapper_content .knap {
    background-color: #E4DECD;
    color: #172E4D;
}

.kalender_wrapper_content .knap:hover {
    background-color: #EEDFB6;
    font-family: qua-bold;
}

/* Gæstebog på forsiden */

.guestbook {
    margin-top: 96px;
    margin-bottom: 96px;
}

.guestbook div {
    position: relative;
    text-align: center;
}

.guestbook img {
    width: 42%;
    height: auto;
    padding-top: 24px;
    padding-bottom: 8px;
}

#gemmeleg {
    width: 100%;
    height: 50px;
    background-color: #EDE8DA;
    position: absolute;
    top: 0;
    z-index: 999;
}






















/* ----------------------------------- Media queries - responsiv ----------------------------------- */
/*  Navigationsbaren */
@media(max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar{
        width: 100%;
    }
}


















